:root {
/* главний цвет фона */
    --main-color-bg: #ffffff;
/* главний цвет текста */
    --main-color-text: #757575;
/* фон подвала */
    --bg-color-foot:#2F303A; 
/* вторичний цвет текста */
    --secondary-color-text:#212121;
/* вторичний цвет фона */
    --secondary-color-bg: #F5F4FA;
/* еффект наведения */
    --color-accent: #2196F3;
/* цвет текста футер*/
    --color-adress: rgba(255, 255, 255, 0.6);


}
body {
  background-color: var(--main-color-bg);
  color: var(--main-color-text);
  font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
}
/*Шапка

*/
.logo {
    color: var(--secondary-color-text);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;

}

.web {
    color: var(--color-accent);
}

.site-nav .link {
    color: var(--secondary-color-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--color-accent);
}

.site-nav .link.current {
    color: var(--color-accent);
}

.contacts .contact {
    color: var(--main-color-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts :hover,
.contacts :focus {
    color: var(--color-accent);
}
/*main

*/
.hero {
    background-color: var(--bg-color-foot);
}
.hero-title{
    color: var(--main-color-bg);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;

}
.hero-btn {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: var(--main-color-bg);
    background-color: var(--color-accent);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
}
/*преимущества
                    
 */

.advantage-title {
    color: var(--secondary-color-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.advantage-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
/*зайнятость

 */

.job-title{
    color: var(--secondary-color-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
/*Команда

*/
.team {
    background-color: var(--secondary-color-bg)
}
.team-title {
    color: var(--secondary-color-text);
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-subtitle {
    color: var(--secondary-color-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.team-text {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
/* Портфолио

*/

/*Фильтр

*/
.portfolio-filter .btn {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: var(--secondary-color-text);
    background-color: var(--secondary-color-bg);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.portfolio-filter .btn.current{
    color: var(--main-color-bg);
    background-color: var(--color-accent);
}

.portfolio-choice .choice-title {
    color: var(--secondary-color-text);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-choice .choice-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
/*footer

*/
.footer {
    background-color: var(--bg-color-foot);
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    color: var(--main-color-bg);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
 
.footer-nav .contact {
    color: var(--color-adress);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
} 
.footer-nav .footer-text { 
    color: #ffffff;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em; 
    font-style: normal;
    text-decoration: none;
}
.footer-nav :hover,
.footer-nav :focus {
    color: var(--color-accent);
}